@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 235, 23, 23;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  max-width: 80%;
  margin: 0 auto;
  display: flex; /* Flexbox modelini kullan */
  flex-direction: column; /* İçerikleri dikey olarak hizala */
}

/* Ana konteyner için stil */
.content-container {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontally centers the content */
  align-items: flex-start; /* Vertically aligns the content at the top */
  gap: 20px; /* Adds gap between items */
  margin-top: 60px;
  
}

/* Adjust the main container to align items at the start */
main.flex {
  justify-content: flex-start; /* Align content to the start */
  gap: 20px; /* Add some gap between items */
}


.header {
  font-size: x-large;
font-style:inherit;
/* font-weight:initial;*/
}

.header-menu {
  display: flex; /* Flexbox modelini etkinleştirir */
  gap: 0.75rem; /* Öğeler arasında 1rem boşluk bırakır */
  width: 100%; /* Genişliği arttır */
}

.header-menu li {
  font-weight: 600;
  border-color: #000000; 
  color: #ffffff; 
  background-color: #972222; 
  flex-grow: 1; 
  border-radius: 1rem;
  padding: 0.5rem; /* Tüm kenarlardan 1rem boşluk */
  border-radius: 8px; /* Köşeleri yuvarlatmak için */
  padding: 10px;
}

.header-menu li:hover {
  font-weight: 600;
  border-color: #000000; 
  color: #ffffff; 
  background-color: #bb6e6e; 
  flex-grow: 1; 
  border-radius: 1rem;
  padding: 0.5rem; /* Tüm kenarlardan 1rem boşluk */
  border-radius: 8px; /* Köşeleri yuvarlatmak için */
  padding: 10px;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

header {
  color: #fff;
  padding: 1rem 0;
  font-size: 1.5rem;
}

.header-logo {
  width: 100%;
  max-width: 6xl; /* This needs to be converted to a specific value in pixels, ems, or rems */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: monospace;
  font-size: small;
}

/* For large screens */
@media (min-width: 1024px) {
  .header-logo {
    display: flex;
  }
}

.fixed-head {
  position: fixed; /* Keeps the element fixed at the bottom of the screen */
  bottom: 0;
  left: 0;
  display: flex; /* Uses flexbox for layout */
  height: 12rem; /* 48 tailwind units, assuming 1rem = 4 units */
  width: 100%; /* Full width of its container */
  align-items: flex-end; /* Aligns items to the bottom */
  justify-content: center; /* Centers items horizontally */
  background-image: linear-gradient(to top, white, white); /* Gradient background from white to white */
}

/* Dark mode styles */
.dark .fixed-head {
  background-image: linear-gradient(to top, black, black); /* Gradient background from black to black in dark mode */
}

/* Large screen adjustments */
@media (min-width: 1024px) {
  .fixed-head {
    position: static; /* Resets position for large screens */
    height: auto; /* Resets height for large screens */
    background: none; /* Removes background for large screens */
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem; /* Flexbox modelini etkinleştirir */
}

.main-flex {
  display: flex; /* Enables flexbox layout */
  flex-direction: column; /* Stacks items vertically */
  align-items: center; /* Centers items horizontally */
  justify-content: space-between; /* Distributes items evenly, with first item at start and last item at end */
  padding: 5%; /* Adds padding around the content */
  min-height: 100vh; /* Ensures the element takes up at least the full height of the viewport */
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Sütun sayısını ihtiyaca göre ayarlayın */
  gap: 20px; /* Kartlar arasındaki boşluk */
  padding: 20px 50px 50px 50px; /* Üst padding'i azaltıldı */
  width: 100%;
  max-width: 100%;
  align-items: start; /* .card öğelerini üstte sabitler */
}

.card {
  display: flex; /* Flexbox modelini etkinleştir */
  flex-direction: column; /* İçeriği dikey yönde sırala */
  justify-content: space-between; /* İçerik arasında boşluk bırak */
  min-height: 200px; /* Kartların minimum yüksekliğini belirle */
  padding: 1rem; /* İç boşluk */
  background-color: #fff; /* Arka plan rengi */
  border-radius: 1rem; /* Kenar yuvarlaklığı */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Gölge efekti */
  flex-grow: 0;
}

/* Ekran boyutuna göre medya sorguları */
@media (max-width: 768px) {
  .card {
    min-width: 200px; /* Daha küçük ekranlar için kart genişliği */
  }
}

@media (max-width: 480px) {
  .cards-container {
    flex-direction: column; /* Çok küçük ekranlarda kartları dikey olarak istifler */
    align-items: center; /* Kartları merkeze hizalar */
  }
  .card {
    max-width: 100%; /* Kartların tam genişlik almasını sağlar */
  }
}

.card:hover {
  box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.5), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
  transform: scale(1.01); /* İçeriği %10 büyüt */
}

.p-logo {
  width: 4rem; /* 16 tailwind units */
  height: 4rem; /* 16 tailwind units */
  object-fit: cover;
  border-radius: 9999px; /* Full circle, equivalent to 'rounded-full' in Tailwind */
}

.p-social-logo {
  width: 1.5rem; /* 6 tailwind units */
  height: 1.5rem; /* 6 tailwind units */
}

/* Inline style için CSS değişkeni */
:root {
  --card-flex-basis: calc(33.333% - 1rem);
}

h3.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

.card-content {
  /* Define styles specific to card content here */
  padding: 1%;
  font-size: 1rem;
  color: #4a5568;
  text-align: left; 
  flex-grow: 1;
}

.card-category {
  font-size: 1rem;
  font-weight: 500;
  color: black;
  background-color: #eff1f5;
  text-align: left; /* Metni sola hizala */
  border: 1px solid #ccc; /* Gri tonunda bir çerçeve */
  border-radius: 8px; /* Köşeleri yuvarlatmak için */
  padding: 8px;
  max-width: 100%; /* Maksimum genişlik */
  margin-left: 0; /* Sol marjı sıfırla, öğeyi sola yasla */
  margin-right: auto;
}

.card-links {
  display: flex; /* Flexbox modelini etkinleştir */
  justify-content: center; /* İçerikleri yatay eksende merkeze hizala */
  gap: 1rem;
}

.send-button {
  background-color: #d13333; /* Kırmızı tonunda bir arka plan rengi */
  font-weight: bold;
  color: #fff; /* Beyaz renkli metin */
  padding: 0.5rem 1rem; /* Yatayda 1rem, dikeyde 0.5rem iç boşluk */
  border-radius: 0.5rem; /* Kenar yuvarlaklığı */
  border: none; /* Kenar çizgisi oluşturma */
  cursor: pointer; /* İmleci işaretçi olarak değiştir */
  margin-bottom: 10px; /* Alt boşluğu sıfırla */
  margin-top: -50px;
}

.send-button:hover {
  background-color: #830e0e; /* Kırmızı tonunda bir arka plan rengi */
}

.filter {
  font-size: 1rem;
  font-weight: 500;
  color: fff;
  text-align: left; /* Metni sola hizala */
  padding: 8px;
  max-width: 100%; /* Maksimum genişlik */
  padding: 1rem;
  margin-bottom: auto; /* Alt boşluğu sıfırla */
  margin-left: auto; /* Sol marjı otomatik ayarla */
  margin-right: auto; /* Sağ marjı otomatik ayarla */
  margin-top: 20px;
}

.filter-category {
  font-size: 1rem;
  font-weight: 500;
  color: black;
  background-color: #fff;
  text-align: left; /* Metni sola hizala */
  border: 1px solid #ccc; /* Gri tonunda bir çerçeve */
  border-radius: 8px; /* Köşeleri yuvarlatmak için */
  padding: 8px;
  max-width: 100%; /* Maksimum genişlik */
  padding: 0.5rem;
  margin: 0.3rem;
}

.filter-category:hover {
  background-color: #e6e6e6; /* Hover durumunda arka plan rengini değiştir */
  cursor: pointer; /* Fare imlecini işaretçi olarak değiştir */
}


.footer {
  max-height: fit-content;
  text-align: center; /* Footer metnini ortalar */
  padding: 1rem; /* Üst ve alttan 1rem boşluk */
  font-size: 1rem; /* Metin boyutunu ayarlar */}
  
  .footer2 {
    max-height: fit-content;
    margin-top: -120px;
    margin-bottom: -70px;}
    
    .footer a {
      display: inline-block; 
      border-radius: 0.4rem; 
      transition: all 0.3s ease;
    }
    
    .footer a:hover {
      border-color: #000000; 
      background-color: #f56565; 
      color: #ffffff; 
    }
    
    /* Dark mode hover styles */
    .footer a:hover.dark {
      border-color: #2a2a2a;
      background-color: #f0f0f0;
    }